html, body {
    margin: 0;
    padding: 0;
    font-family: "Arial";
}

#header{
  background-image: url(../images/apple-pie.jpg);
  background-position: 0px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  height: 76vh;
  background-size: cover;
  position: relative;
}

h1 {
    font-size: 4em;
    text-align: center;
    line-height: 76vh;
    color: white;
    margin: 0;
}

#recipe-info {
    font-size: 1.3em;
}

section{
    margin: 50px auto 20px auto;
    width: 80%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

hr {
  width: 80%;
  height: 2px;
  background-color: #bfbfbf; 
}

ul.dash {
  list-style: none;
  margin-left: 20px;
  padding-left: 1em;
}
ul.dash > li:before {
  display: inline-block;
  content: "-";
  width: 1em;
  margin-left: -1em;
}

ol {
  counter-reset: list;
}
ol > li {
  list-style: none;
}
ol > li:before {
  content: counter(list) ") ";
  counter-increment: list;
}